<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /public/

    # Redirect to the public folder
    RewriteRule ^(.*)$ public/$1 [L]

    # Laravel specific settings
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
